/* ################################################# CSS Variables for Theming ################################################# */
/* Initialize roor color scheme */
:root {
  --primary-color: #1B74C3; /* primary blue */
  --secondary-color: #011C37; /* secondary dark blue */
  --text-color: #ffffff; /* light text color */
  --background-color: #E6E6E6; /* light background color */
  --accent-color: #1D1D1D; /* Carcoal Grey */
}

/* Dark theme */
html[data-theme='dark'] {
  --primary-color: #1B74C3;
  --secondary-color: #011C37;
  --text-color: #ffffff;
  --background-color: #1D1D1D;
  --accent-color: #E6E6E6;
}
/* ################################################# END CSS Variables for Theming ################################################# */

/* ################################################# Global Styles ################################################# */

/* Base styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ################################################# END Global Styles ################################################# */

/* ################################################# Custom Styles ################################################# */

/* Header styles */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--secondary-color);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.banner_padding {
  padding: 3px 0;
  text-align: left;
}

.discord_padding {
  padding: 3px 0;
  text-align: right;
}

.banner_logo {
  width: auto;
  max-height: 40px;
  margin: 0 auto;
}

/* Footer styles */
footer {
  background: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Circular Sponsor Banner */
.sponsor-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
/* ################################################# END Custom Styles ################################################# */

/* ################################################# Media Responsive Design ################################################# */

/* Mobile styles */
@media (max-width: 768px) {
  header {
    padding: 5px 0;
  }

  .sponsor-banner {
    flex-direction: column;
  }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 10px 0;
  }

  .sponsor-banner {
    flex-direction: row;
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  header {
    padding: 15px 0;
  }

  .sponsor-banner {
    flex-direction: row;
  }
}

/* ################################################# END Media Responsive Design ################################################# */

/* ################################################# Accessibility Styles ################################################# */
/* Dark Mode Toggle Button */
.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform .5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform .25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: .25s;
    transform: scale(1.75);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transition-duration: .15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-duration: .5s;
    transition-delay: .25s;
  }
}
/* ################################################# END Accessibility Styles ################################################# */